.orange {
	color: #f80
}
a {
	color: #007BBF;
}
.i-phone span {
	color: #3F5A62;
}
.i-phone,
.h-info_schedule span {
    color: #a8aeb3;
 }
 .h-logo_text {
 	color: #515d67;
 }
 .h-info_search{
	color: #AAAAAA;
}
.goods__cost,
.nav-list {
	color: #fff
}
.better {
	background-color: #CAEAF6;
}
.compare__carousel tr:hover {
	background-color: #EAEAEA
}
.checkboxs input[type="radio"]:checked + label {
	color: #253441;
	background: #fff;
	border-color: #00a2d3;
}
.checkboxs input[type="radio"] + label {
	color: #a4aab0;
}
td, th {
	color: #727d87;
}