.h-row_list li,
.fl {
	float: left
}
.fr {
	float: right
}
.clearfix:after {
	clear: both;
	content: " ";
	display: block;
	height: 0;
	visibility: hidden;
}
h3, p {
	margin: 0;
}
body {
	font: 12px/22px OpenSans-Regular,Arial,sans-serif;
	margin: 0;
/*	height: 2000px;*/
}
li {
	list-style: none
}
a {
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}
ul {
	margin: 0;
	padding: 0;
}
header {}
nav {
	height: 54px;
	background: url(./img/main_menu_bg.jpg) center center;
	width: 100%;
}
.b-content,
.wrapper {
	margin: 0 auto;
	width: 960px;
}
.h-row_list {}
	.h-row_list li {
		font-size: 1.1em;
		letter-spacing: 0.2px;
		padding: 5px 10px;
	}
.h-info {
	margin-bottom: 3px
}
	.h-info>* {
	display: inline-block;
	}
	.h-info_schedule {
		vertical-align: top;
	}
	.h-info_phones {
		display: inline-table;
		margin-right: -10px;
	}
	.h-info_phones>ul {
		column-count: 3;
		column-gap: 1.3em;
	}
	.h-info_shopcart {
		margin: 27px 8px 0 0;
	}
.h-row_list--rigth a:hover {
	    text-decoration: none;
}
.h-info_schedule span {
	font-size: 14px;
    line-height: 30px;
    padding-left: 10px;
    letter-spacing: .2px;
}
.i-phone {
	font-size: 1.2em;
	font-weight: bold;
	padding: 3px 8px 0 12px
}
	.i-phone>.icon {
		background: url(./img/main_sprite.png) no-repeat;
		width: 18px;
   		height: 20px;
   		float: left;
	}
	.i-phone--life>.icon {background-position: -782px -182px}
	.i-phone--xyz>.icon {background-position: -782px -206px}
	.i-phone--mts>.icon {background-position: -782px -235px}
	.i-phone--city>.icon {background-position: -782px -259px} 
	.i-phone--cback>.icon {background-position: -782px -288px}
	.i-phone--skype>.icon {background-position: -782px -314px}

.h-info_logo {
	background: url(./img/logo-header.png) no-repeat;
	/*float: left;*/
	height: 76px;
	position: relative;
	width: 200px;
	margin-top: -5px;
}
.h-logo_text {
    bottom: 3px;
    left: 40px;
    line-height: 1.1em;
    position: absolute;
}
.h-info_search{
	padding: 6px 0 0 20px;
	position: relative;
}
	.h-info_search input[type=text] {
		border-radius: 8px;
		border: 1px solid ;
		border-color: #E0E0E0;
		height: 38px;
		width: 470px;
		padding-left:20px;
	}
	.h-info_search input[type=submit] {
		background: url(../../img/main_sprite.png) -644px -173px no-repeat #fff;
		border-bottom-right-radius: 5px;
		border-top-right-radius: 5px;
		border: 1px solid #E0E0E0;
		cursor: pointer;
		height: 42px;
		position: absolute;
		right: 0;
		top: 6px;
		width: 40px;
	}
		.h-search_help {
			padding-left:20px;
		}
	.h-shopcart {
		display: inline-block;
		text-align: right;
		vertical-align: middle;
	}
	.h-shopcart--img {
		margin: auto 0;
		vertical-align: middle;
		background: url(./img/main_sprite.png) no-repeat -315px -183px;
		width: 62px;
    	height: 62px;
	}
.h-navbar {
	position: relative;
}
	.h-navbar li {
		float: left;
		padding: 13px 5px 0 0;
		line-height: 1em;
	}
	.h-navbar li:after {
	background: url(./img/separateTopMenu.png) repeat scroll 0 0 rgba(0,0,0,0);
    bottom: 0;
    content: "";
    height: 40px;
    left: 0;
    position: absolute;
    width: 1px;
	}
	.h-navbar li:last-child:after {
		display: none;
	}
	.h-navbar li:not(:last-child).active {
		box-shadow: 0 -9px 9px 2px rgba(0,0,0,0.3) inset;
	}
	.h-navbar li:before {
		content: '';
		position: absolute;
	}
	.h-navbar li.active:before {
		border-radius: 50%;
		box-shadow: 0 60px 30px rgba(115,252,255,.45);
		content: "";
		height: 28px;
		position: absolute;
		width: 100%;
		top: -45px;
		left: 0;
	}
	.h-navbar li:last-child {
		padding: 0;
	}
.nav-list {
    vertical-align: middle;
    font-family: "Roboto-BoldCondensed";
    font-size: 14px;
    line-height: 16px;
    text-shadow: 0 1px 1px rgba(0,0,1,0.35);
}
	.nav-list:hover {
		text-decoration: none;
		
	}
.nav-list>.icon {
	background: url(../img/topMenuSprite.png) no-repeat;
	width: 40px;
	height: 40px;
	float: left;
	padding: 0 3px 0 10px;
}
.nav-list--comp>.icon {background-position: 7px -4px;}
.nav-list--tech>.icon {background-position: -38px -4px;} 
.nav-list--cook>.icon {background-position: -82px -4px;} 
.nav-list--home>.icon {background-position: -118px -6px;}
.nav-list--child>.icon {background-position: -222px -4px;} 
.nav-list--auto>.icon {background-position: -164px -4px;}
.nav-list--apple>.icon {background-position: -274px -5px;}
.nav-list--adver img {
	margin-top: -5px;
}

.list_container {
	font-size: 1.2em;
	display: inline-block;
	vertical-align: top;
	width: 165px;
	padding-right: 20px;
}
.list_container li {
	padding: 5px 0
}
.separator {
	margin: 20px 0;
	border-bottom: 1px solid #DDDEE0;
	height: 1px;
	width: 100%;
}
footer {
	height: 100%;
	background: url(./img/footer_bg.png);
	box-shadow: 0 0 10px rgba(0,0,0,0.14) inset;
}
footer .h-info_logo {
	margin: -50px auto 0;
}
.copyright,
.f-about ul {
	margin: 0 auto;
	text-align: center;
}
.f-about li {
	display: inline-block;
	padding: 0 5px;
}

/*======compare========*/
table {
    border-collapse: collapse;
    border-spacing: 0;
}
th {
	color: #727d87;
	font: 13px/22px OpenSans-Bold;
	padding: 5px;
	text-align: right;
}
td {
	padding: 5px;
	font: 13px/22px OpenSans-Regular,Arial,sans-serif;
}
.b-content {}
	.content__bread {
		padding-top: 15px;
		margin-bottom: 10px;
	}
		.content__bread li {
			display: inline;
			font-size: 13px;
			line-height: 17px;
			margin-right: 10px;
		}
	.b-pagename {}
	.b-compare {
		margin-bottom: 50px;
	}
		.compare__head {
			min-height: 100px
		}
			.goods {
				position: relative;
			}
			.goods>.close {
				text-indent:-9999px;
				position: absolute;
				top: 10px;
				right: 10px;
				width: 22px;
				height: 22px;
				cursor: pointer;
				background: url(./img/crose-popup.png) no-repeat center center;
			}
			.goods__img {
				padding: 60px 0 30px;
				text-align: center;
				height: 100px;
				vertical-align: bottom;
				/*display: table-cell;*/
				width: 230px;
				margin: 0 auto;
			}
			.goods__cost {
				width: 105px;
				height: 33px;
				line-height: 33px;
				background: url(./img/main_sprite.png) no-repeat;
				font-family: OpenSans-Bold;
				font-size: 16px;
				background-position: -669px -60px;
				margin: 0 auto;
				padding-right: 40px;
				cursor: pointer;
				text-align: center
			}
				.goods__cost p {
					margin: 0
				}
				.goods__img img {
					max-width: 120px;
					max-height: 100px;
				}
			.compare__nav {}
			.compare__list {
				width: 240px;
				box-shadow: 7px 0 7px rgba(0,0,0,0.12);
				position: absolute;
				overflow: hidden;
				z-index: 2;
			}
			.compare__head>.compare__list {
				min-height: 235px
			}
			.compare__list table {
					width: 960px;
					table-layout: fixed;
				}
					.compare__list tbody {}
						.compare__list tr {}
							.compare__list td {
								visibility:hidden;
							}
							.compare__list th {
								width: 230px
							}
							.title th {
								padding-top: 10px;
								background-image: url(./img/compare_line.png);
								background-position: left bottom;
								background-repeat: no-repeat;
								color: #515d67;
								font-size: 16px;
							}
				.compare__settings {
					min-height: 150px
				}
				.checkboxs{
					/*padding-top: 120px;*/
				}
					.checkboxs label {
						height: 20px;
						line-height: 20px;
						margin-bottom: 7px;
					}
					.checkboxs input[type="radio"] + label {
						color: #a4aab0;
						font-size: 15px;
						padding: 3px 12px;
						background: #fbfbfb;
						border-radius: 4px;
						border: 1px solid #b8b8b8;
						display: inline-block;
						width: auto;
						font-family: OpenSans-Bold;
						margin-left: 10px;
					}
					.checkboxs input[type="radio"]:checked + label {
						font-family: OpenSans-Bold;
					}
					.checkboxs input[type="radio"] {
						display: none;
					}
			.compare__carousel {
				display: inline-block;
				overflow: hidden;
				width: 720px;
				margin-left: 240px;
			}
				.compare__wrap {
					position: relative;
					width: 10000px;
				}
				.compare__carousel table {
					position: relative;
				}
					.compare__carousel tbody {}
						.compare__carousel th {
							height: 22px
						}
						.compare__carousel td {
							min-width: 230px;
							text-align: center;
						}
				.goods {
					min-width: 240px;
					float: left;
				}
			.compare__nav {
				position: relative;
			}
				.compare__nav a {
					text-indent:-9999px;
					width: 50px;
					height: 116px;
					position: absolute;
					bottom: 55px;
					background: url(./img/arrowSliderButton.png)0 0 no-repeat;
				}
					.compare__nav a:first-child {
						left: 240px
					}
					.compare__nav a:last-child {
						right: -5px;
						background-position-x: -60px;
					}
					.compare__nav a:hover {
						background-position-y: -89px;
					}

		.compare__body {}
.fixed {
	position: fixed;
	background-color: #fff;
	z-index: 5;
	top: 0;
	box-shadow: 1px 6px 7px rgba(0,0,0,.12);
}
.b-subscription {
	width: 920px;
	border-radius: 4px;
	box-shadow: 0 0 10px rgba(0,0,0,0.12);
	position: absolute;
	background: #fff;
	margin-top: -40px;
	padding: 20px;
}
	.b-subscribe__form {}
		.subscribe__title {
			color: #515d67;
			font-size: 16px;
			float: left;
			line-height: 40px;
		}
		.subscribe__icon {
			background: url(./img/main_sprite.png) no-repeat -160px -183px;
			width: 100px;
			height: 27px;
			display: inline-block;
			float: left;
			margin: 6px 5px 0 10px;
		}
		.subscribe__input {
			border: 1px solid #dfdfdf;
			border-radius: 2px;
			padding: 10px;
			outline: none;
			min-width: 420px;
		}
		.subscribe__button {
			background: #5ecbf7;
			border-radius: 3px;
			border: 0;
			color: #fff;
			cursor: pointer;
			font-family: OpenSans-Bold;
			font-size: 15px;
			margin-left: 45px;
			padding: 9px 30px;
		}
.clearbox {
	height: 100%;
	padding-bottom: 50px;
}
.submenu {
    position: absolute;
    width: 960px;
    top: 52px;
    font-size: 20px;
    z-index: 15;
    height: 100px;
    background-color: #333;
    display: none;
}
.navbar {
	position: relative;
}