
<section>
	<div class="b-content">
		<div class="content__bread">
			<ul>
				<li><a href="#">Главная ></a></li>
				<li><a href="#">Каталог ></a></li>
				<li>Сравнение</li>
			</ul>
		</div>
		<div class="b-pagename">
			<h1>Сравнение товаров</h1>
		</div>
		<div class="b-compare">
			<div class="compare__head clearfix">
				<div class="compare__list">
					<div class="compare__settings">
						<a href="#">Удалить список</a><br>
						<a id="restart" href="#">Restart carousel</a>
					</div>
					<div class="checkboxs">
						<input type="radio" id="radio1" name="radio1" class="compare_rows_radio" value="1" checked="">
						<label for="radio1" class="radio_checked ">Все параметры</label>
						<input type="radio" id="radio2" name="radio1" class="compare_rows_radio" value="2">
						<label for="radio2"> Только отличия</label>
					</div>
				</div>
				<div class="compare__carousel">
					<div class="compare__wrap">
						<div class="goods item_1">
							<a class="close" href="#">Close</a>
							<div class="goods__img">
								<a href="#"><img src="img/item_1.jpg" alt="notebook"></a><br>
								<a href="#">Ноутбук ASUS X555LD-XX062H</a>
							</div>
							<div class="goods__cost">
								<p>7 525 000</p>
							</div>
						</div>
						<div class="goods item_2">
							<a class="close" href="#">Close</a>
							<div class="goods__img">
								<a href="#"><img src="img/item_1.jpg" alt="notebook"></a><br>
								<a href="#">Ноутбук ASUS X555LD-XX062H</a>
							</div>
							<div class="goods__cost">
								<p>7 525 000</p>
							</div>
						</div>
						<div class="goods item_3">
							<a class="close" href="#">Close</a>
							<div class="goods__img">
								<a href="#"><img src="img/item_1.jpg" alt="notebook"></a><br>
								<a href="#">Ноутбук ASUS X555LD-XX062H</a>
							</div>
							<div class="goods__cost">
								<p>7 525 000</p>
							</div>
						</div>
						<div class="goods item_4">
							<a class="close" href="#">Close</a>
							<div class="goods__img">
								<a href="#"><img src="img/item_1.jpg" alt="notebook"></a><br>
								<a href="#">Ноутбук ASUS X555LD-XX062H</a>
							</div>
							<div class="goods__cost">
								<p>7 525 000</p>
							</div>
						</div>
						<div class="goods item_5">
							<a class="close" href="#">Close</a>
							<div class="goods__img">
								<a href="#"><img src="img/item_1.jpg" alt="notebook"></a><br>
								<a href="#">Ноутбук ASUS X555LD-XX062H</a>
							</div>
							<div class="goods__cost">
								<p>7 525 000</p>
							</div>
						</div>
						<div class="goods item_6">
							<a class="close" href="#">Close</a>
							<div class="goods__img">
								<a href="#"><img src="img/item_1.jpg" alt="notebook"></a><br>
								<a href="#">Ноутбук ASUS X555LD-XX062H</a>
							</div>
							<div class="goods__cost">
								<p>7 525 000</p>
							</div>
						</div>
					</div>
				</div>
				<div class="compare__nav">
					<a href="#" data-dir="prew">prew</a>
					<a href="#" data-dir="next">next</a>
				</div>
			</div>
			<div class="compare__body clearfix">
				<div class="compare__list">
					<table>
						<tbody>
							<tr class="title">
								<th>Общая информация</th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
							</tr>
							<tr class="compare__row">
								<th>Дата выхода на рынок</th>
							</tr>
							<tr>
								<th>Класс</th>
							</tr>
							<tr>
								<th>Ценовой диапазон</th>
							</tr>
							<tr>
								<th>Дизайн</th>
							</tr>
							<tr class="compare__row">
								<th>Ноутбук-трансформер</th>
							</tr>
							<tr class="title">
								<th>Экран</th>
							</tr>
							<tr><th>Диагональ экрана</th></tr>
							<tr><th>Разрешение</th></tr>
							<tr><th>технология экрана</th></tr>
							<tr><th>Поверхность экрана</th></tr>
							<tr><th>Безрамочный экран</th></tr>
							<tr><th>Сенсорный экран</th></tr>
							<tr><th>Датчик освещенности</th></tr>
							<tr class="title"><th>Оперативная память</th></tr>
							<tr><th>Объем памяти</th></tr>
							<tr><th>Тип оперативной памяти</th></tr>
							<tr><th>Максимальный объем памяти</th></tr>
							<tr><th>Количество слотов памяти</th></tr>
							<tr class="title"><th>Хранение данных</th></tr>
							<tr><th>Тип жесткого диска (дисков)</th></tr>
							<tr><th>Емкость жесткого диска</th></tr>
							<tr><th>Оптический привод(ODD)DVD</th></tr>
							<tr><th>Карты памяти</th></tr>
							<tr><th>Скорость вращения</th></tr>
							<tr class="title"><th>Графика</th></tr>
							<tr><th>Графический адаптер</th></tr>
							<tr><th>Рейтинг видеокарты</th></tr>
							<tr><th>Тип графического адаптера</th></tr>
							<tr><th>Дополнительный граф.фдаптер</th></tr>
							<tr><th>Локальная видеопамять</th></tr>
							<tr class="title"><th>Процессор и чирсет</th></tr>
							<tr><th>Рейтинг процессора</th></tr>
							<tr><th>Процессор</th></tr>
							<tr><th>Платформа(кодовое название)</th></tr>
							<tr><th>Тактовая частота</th></tr>
							<tr><th>Кэш (общий, L2 или L3)</th></tr>
							<tr class="title"><th>Общая информация</th></tr>
							<tr><th>Дата выхода на рынок</th></tr>
							<tr><th>Ценовой диапазон</th></tr>
							<tr><th>Тип</th></tr>
							<tr><th>Дизайн</th></tr>
							<tr class="title"><th>Особенности конструкции</th></tr>
							<tr><th>Конструкция</th></tr>
							<tr><th>Материал корпуса</th></tr>
							<tr><th>Цвет корпуса</th></tr>
							<tr><th>Материал крышки</th></tr>


						</tbody>
					</table>
				</div>
				<div class="compare__carousel">
					<table>
						<tbody>
							<tr class="title">
								<th class="item_1"></th>
								<th class="item_2"></th>
								<th class="item_3"></th>
								<th class="item_4"></th>
								<th class="item_5"></th>
								<th class="item_6"></th>
							</tr>
							<tr class="compare__row">
								<td class="item_1 better">1</td>
								<td class="item_2 better">2</td>
								<td class="item_3">3</td>
								<td class="item_4">4</td>
								<td class="item_5">5</td>
								<td class="item_6">6</td>
							</tr>
							<tr>
								<td class="item_1">Ноутбук</td>
								<td class="item_2">Ноутбук</td>
								<td class="item_3">Ноутбук</td>
								<td class="item_4">Ноутбук</td>
								<td class="item_5">Ноутбук</td>
								<td class="item_6">Ноутбук</td>
							</tr>
							<tr>
								<td class="item_1">red, black, white</td>
								<td class="item_2">red, black, white</td>
								<td class="item_3">red, black, white</td>
								<td class="item_4">red, black, white</td>
								<td class="item_5">red, black, white</td>
								<td class="item_6">red, black, white</td>
							</tr>
							<tr>
								<td class="item_1 better">современный</td>
								<td class="item_2">классика</td>
								<td class="item_3">модерн</td>
								<td class="item_4">классика</td>
								<td class="item_5 better">современный</td>
								<td class="item_6 better">современный</td>
							</tr>
							<tr class="compare__row">
								<td class="item_1">-</td>
								<td class="item_2">-</td>
								<td class="item_3">-</td>
								<td class="item_4">-</td>
								<td class="item_5">-</td>
								<td class="item_6">-</td>
							</tr>
							<tr class="title">
								<th class="item_1"></th>
								<th class="item_2"></th>
								<th class="item_3"></th>
								<th class="item_4"></th>
								<th class="item_5"></th>
								<th class="item_6"></th>
							</tr>
							<tr>
								<td class="item_1">17`</td>
								<td class="item_2">17`</td>
								<td class="item_3">17`</td>
								<td class="item_4">17`</td>
								<td class="item_5">17`</td>
								<td class="item_6">17`</td>
							</tr>
							<tr>
								<td class="item_1">1920x1080</td>
								<td class="item_2">1920x1080</td>
								<td class="item_3">1920x1080</td>
								<td class="item_4">1920x1080</td>
								<td class="item_5">1920x1080</td>
								<td class="item_6">1920x1080</td>
							</tr>
							<tr>
								<td class="item_1">IPS</td>
								<td class="item_2">IPS</td>
								<td class="item_3">IPS</td>
								<td class="item_4">IPS</td>
								<td class="item_5">IPS</td>
								<td class="item_6">IPS</td>
							</tr>
							<tr>
								<td class="item_1">Матовая</td>
								<td class="item_2">Матовая</td>
								<td class="item_3">Матовая</td>
								<td class="item_4">Матовая</td>
								<td class="item_5">Матовая</td>
								<td class="item_6">Матовая</td>
							</tr>
							<tr>
								<td class="item_1">Нет</td>
								<td class="item_2">Нет</td>
								<td class="item_3">Да</td>
								<td class="item_4">Нет</td>
								<td class="item_5">Да</td>
								<td class="item_6">Нет</td>
							</tr>
							<tr>
								<td class="item_1">Нет</td>
								<td class="item_2">Да</td>
								<td class="item_3">Нет</td>
								<td class="item_4">Нет</td>
								<td class="item_5">Нет</td>
								<td class="item_6">Да</td>
							</tr>
							<tr>
								<td class="item_1">Да</td>
								<td class="item_2">Нет</td>
								<td class="item_3">Нет</td>
								<td class="item_4">Нет</td>
								<td class="item_5">Нет</td>
								<td class="item_6">Да</td>
							</tr>
							<tr class="title">
								<th class="item_1"></th>
								<th class="item_2"></th>
								<th class="item_3"></th>
								<th class="item_4"></th>
								<th class="item_5"></th>
								<th class="item_6"></th>
							</tr>
							<tr>
								<td class="item_1">16GB</td>
								<td class="item_2">16GB</td>
								<td class="item_3">16GB</td>
								<td class="item_4">16GB</td>
								<td class="item_5">16GB</td>
								<td class="item_6">16GB</td>
							</tr>
							<tr>
								<td class="item_1">DDR4</td>
								<td class="item_2">DDR4</td>
								<td class="item_3">DDR4</td>
								<td class="item_4">DDR4</td>
								<td class="item_5">DDR4</td>
								<td class="item_6">DDR4</td>
							</tr>
							<tr>
								<td class="item_1">16GB</td>
								<td class="item_2">16GB</td>
								<td class="item_3">16GB</td>
								<td class="item_4">16GB</td>
								<td class="item_5">16GB</td>
								<td class="item_6">16GB</td>
							</tr>
							<tr>
								<td class="item_1">4</td>
								<td class="item_2">4</td>
								<td class="item_3">4</td>
								<td class="item_4">4</td>
								<td class="item_5">4</td>
								<td class="item_6">4</td>
							</tr>
							<tr class="title">
								<th  class="item_1"></th>
								<th  class="item_2"></th>
								<th  class="item_3"></th>
								<th  class="item_4"></th>
								<th  class="item_5"></th>
								<th  class="item_6"></th>
							</tr>
							<tr>
								<td class="item_1">SSD</td>
								<td class="item_2">SSD</td>
								<td class="item_3">SSD</td>
								<td class="item_4">SSD</td>
								<td class="item_5">SSD</td>
								<td class="item_6">SSD</td>
							</tr>
							<tr>
								<td class="item_1">16TB</td>
								<td class="item_2">16TB</td>
								<td class="item_3">10TB</td>
								<td class="item_4">16TB</td>
								<td class="item_5">1TB</td>
								<td class="item_6">16TB</td>
							</tr>
							<tr>
								<td class="item_1">+</td>
								<td class="item_2">+</td>
								<td class="item_3">+</td>
								<td class="item_4">+</td>
								<td class="item_5">+</td>
								<td class="item_6">+</td>
							</tr>
							<tr>
								<td class="item_1">Micro SD</td>
								<td class="item_2">Micro SD</td>
								<td class="item_3">Micro SD</td>
								<td class="item_4">Micro SD</td>
								<td class="item_5">Micro SD</td>
								<td class="item_6">Micro SD</td>
							</tr>
							<tr>
								<td class="item_1">7200 об/мин</td>
								<td class="item_2">7200 об/мин</td>
								<td class="item_3">7200 об/мин</td>
								<td class="item_4">7200 об/мин</td>
								<td class="item_5">7200 об/мин</td>
								<td class="item_6">7200 об/мин</td>
							</tr>
							<tr class="title">
								<th class="item_1"></th>
								<th class="item_2"></th>
								<th class="item_3"></th>
								<th class="item_4"></th>
								<th class="item_5"></th>
								<th class="item_6"></th>
							</tr>
							<tr>
								<td class="item_1">AMD RADEON 390XT</td>
								<td class="item_2">AMD RADEON 390XT</td>
								<td class="item_3">AMD RADEON 390XT</td>
								<td class="item_4">AMD RADEON 390XT</td>
								<td class="item_5">AMD RADEON 390XT</td>
								<td class="item_6">AMD RADEON 390XT</td>
							</tr>
							<tr>
								<td class="item_1">4</td>
								<td class="item_2">4</td>
								<td class="item_3">4</td>
								<td class="item_4">4</td>
								<td class="item_5">4</td>
								<td class="item_6">4</td>
							</tr>
							<tr>
								<td class="item_1">Дискретный</td>
								<td class="item_2">Дискретный</td>
								<td class="item_3">Дискретный</td>
								<td class="item_4">Дискретный</td>
								<td class="item_5">Дискретный</td>
								<td class="item_6">Дискретный</td>
							</tr>
							<tr>
								<td class="item_1">+</td>
								<td class="item_2">+</td>
								<td class="item_3">+</td>
								<td class="item_4">+</td>
								<td class="item_5">+</td>
								<td class="item_6">+</td>
							</tr>
							<tr>
								<td class="item_1">16GB</td>
								<td class="item_2">16GB</td>
								<td class="item_3">10GB</td>
								<td class="item_4">16GB</td>
								<td class="item_5">10GB</td>
								<td class="item_6">16GB</td>
							</tr>
							<tr class="title">
								<th class="item_1"></th>
								<th class="item_2"></th>
								<th class="item_3"></th>
								<th class="item_4"></th>
								<th class="item_5"></th>
								<th class="item_6"></th>
							</tr>
							<tr>
								<td class="item_1">4</td>
								<td class="item_2">4</td>
								<td class="item_3">4</td>
								<td class="item_4">4</td>
								<td class="item_5">4</td>
								<td class="item_6">4</td>
							</tr>
							<tr>
								<td class="item_1">Intel Core i7 5479</td>
								<td class="item_2">Intel Core i7 5479</td>
								<td class="item_3">Intel Core i7 5479</td>
								<td class="item_4">Intel Core i7 5479</td>
								<td class="item_5">Intel Core i7 5479</td>
								<td class="item_6">Intel Core i7 5479</td>
							</tr>
							<tr>
								<td class="item_1">Haswel</td>
								<td class="item_2">Haswel</td>
								<td class="item_3">Haswel</td>
								<td class="item_4">Haswel</td>
								<td class="item_5">Haswel</td>
								<td class="item_6">Haswel</td>
							</tr>
							<tr>
								<td class="item_1">4Ghz</td>
								<td class="item_2">4Ghz</td>
								<td class="item_3">4Ghz</td>
								<td class="item_4">4Ghz</td>
								<td class="item_5">4Ghz</td>
								<td class="item_6">4Ghz</td>
							</tr>
							<tr>
								<td class="item_1">2Mb</td>
								<td class="item_2">2Mb</td>
								<td class="item_3">2Mb</td>
								<td class="item_4">2Mb</td>
								<td class="item_5">2Mb</td>
								<td class="item_6">2Mb</td>
							</tr>
							<tr class="title">
								<th class="item_1"></th>
								<th class="item_2"></th>
								<th class="item_3"></th>
								<th class="item_4"></th>
								<th class="item_5"></th>
								<th class="item_6"></th>
							</tr>
							<tr>
								<td class="item_1 better">2014</td>
								<td class="item_2 better">2014</td>
								<td class="item_3">2012</td>
								<td class="item_4">2012</td>
								<td class="item_5">2013</td>
								<td class="item_6">2013</td>
							</tr>
							<tr>
								<td class="item_1">до 100$</td>
								<td class="item_2">до 100$</td>
								<td class="item_3">до 100$</td>
								<td class="item_4">до 100$</td>
								<td class="item_5">до 100$</td>
								<td class="item_6">до 100$</td>
							</tr>
							<tr>
								<td class="item_1">Ноутбук</td>
								<td class="item_2">Ноутбук</td>
								<td class="item_3">Ноутбук</td>
								<td class="item_4">Ноутбук</td>
								<td class="item_5">Ноутбук</td>
								<td class="item_6">Ноутбук</td>
							</tr>
							<tr>
								<td class="item_1">Шикарный</td>
								<td class="item_2">Шикарный</td>
								<td class="item_3">Шикарный</td>
								<td class="item_4">Шикарный</td>
								<td class="item_5">Шикарный</td>
								<td class="item_6">Шикарный</td>
							</tr>
							<tr class="title">
								<th class="item_1"></th>
								<th class="item_2"></th>
								<th class="item_3"></th>
								<th class="item_4"></th>
								<th class="item_5"></th>
								<th class="item_6"></th>
							</tr>
							<tr>
								<td class="item_1">Раскладная</td>
								<td class="item_2">Раскладная</td>
								<td class="item_3">Раскладная</td>
								<td class="item_4">Раскладная</td>
								<td class="item_5">Раскладная</td>
								<td class="item_6">Раскладная</td>
							</tr>
							<tr>
								<td class="item_1">Титан</td>
								<td class="item_2">Титан</td>
								<td class="item_3">Титан</td>
								<td class="item_4">Титан</td>
								<td class="item_5">Титан</td>
								<td class="item_6">Титан</td>
							</tr>
							<tr>
								<td class="item_1">Металик</td>
								<td class="item_2">Металик</td>
								<td class="item_3">Металик</td>
								<td class="item_4">Металик</td>
								<td class="item_5">Металик</td>
								<td class="item_6">Металик</td>
							</tr>
							<tr>
								<td class="item_1">Дерево</td>
								<td class="item_2">Дерево</td>
								<td class="item_3">Дерево</td>
								<td class="item_4">Дерево</td>
								<td class="item_5">Дерево</td>
								<td class="item_6">Дерево</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>
</section>
