
<section>
	<div class="b-content">
		<div class="content__bread">
			<ul>
				<li><a href="#">Главная ></a></li>
				<li><a href="#">Каталог ></a></li>
				<li>Сравнение</li>
			</ul>
		</div>
		<div class="b-pagename">
			<h1>Сравнение товаров</h1>
		</div>
		<div class="b-compare">
			<div class="compare__head clearfix">
				<div class="compare__list">
					<a href="#">Удалить список</a>
					<div class="checkboxs">
						<input type="radio" id="radio1" name="radio1" class="compare_rows_radio" value="1" checked="">
						<label for="radio1" class="radio_checked ">Все параметры</label>
						<input type="radio" id="radio2" name="radio1" class="compare_rows_radio" value="2">
						<label for="radio2"> Только отличия</label>
					</div>
				</div>
				<div class="compare__carousel">
					<div class="goods item_1">
						<a href="#">Close</a>
						<div class="goods__img"></div>
						<div class="goods__cost"></div>
					</div>
					<div class="goods item_2">
						<a href="#">Close</a>
						<div class="goods__img"></div>
						<div class="goods__cost"></div>
					</div>
					<div class="goods item_3">
						<a href="#">Close</a>
						<div class="goods__img"></div>
						<div class="goods__cost"></div>
					</div>
				</div>
				<div class="compare__nav">
					<button data-dir="prew">&lt;</button>
					<button data-dir="next">&gt;</button>
				</div>
			</div>
			<div class="compare__body clearfix">
				<div class="compare__list">
					<table>
						<tbody>
							<tr class="title">
								<th>Общая информация</th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
							</tr>
							<tr>
								<th>Дата выхода на рынок</th>
								<td class="item_1 better">2014</td>
								<td class="item_2 better">2014</td>
								<td class="item_3">2012</td>
								<td class="item_4">2012</td>
								<td class="item_5">2013</td>
								<td class="item_6">2013</td>
							</tr>
							<tr>
								<th>Класс</th>
								<td class="item_1">Ноутбук</td>
								<td class="item_2">Ноутбук</td>
								<td class="item_3">Ноутбук</td>
								<td class="item_4">Ноутбук</td>
								<td class="item_5">Ноутбук</td>
								<td class="item_6">Ноутбук</td>
							</tr>
							<tr>
								<th>Ценовой диапазон</th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
							</tr>
							<tr>
								<th>Дизайн</th>
								<td class="item_1 better">современный</td>
								<td class="item_2">классика</td>
								<td class="item_3">модерн</td>
								<td class="item_4">классика</td>
								<td class="item_5 better">современный</td>
								<td class="item_6 better">современный</td>
							</tr>
							<tr>
								<th>Ноутбук-трансформер</th>
								<td class="item_1">-</td>
								<td class="item_2">-</td>
								<td class="item_3">-</td>
								<td class="item_4">-</td>
								<td class="item_5">-</td>
								<td class="item_6">-</td>
							</tr>
							<tr class="title">
								<th>Экран</th>
								<td class="item_1">17`</td>
								<td class="item_2">17`</td>
								<td class="item_3">17`</td>
								<td class="item_4">17`</td>
								<td class="item_5">17`</td>
								<td class="item_6">17`</td>
							</tr>
							<tr><th>Диагональ экрана</th></tr>
							<tr><th>Разрешение</th></tr>
							<tr><th>технология экрана</th></tr>
							<tr><th>Поверхность экрана</th></tr>
							<tr><th>Безрамочный экран</th></tr>
							<tr><th>Сенсорный экран</th></tr>
							<tr><th>Датчик освещенности</th></tr>
							<tr class="title"><th>Оперативная память</th></tr>
							<tr><th>Объем памяти</th></tr>
							<tr><th>Тип оперативной памяти</th></tr>
							<tr><th>Максимальный объем памяти</th></tr>
							<tr><th>Количество слотов памяти</th></tr>
							<tr class="title"><th>Хранение данных</th></tr>
							<tr><th>Тип жесткого диска (дисков)</th></tr>
							<tr><th>Емкость жесткого диска</th></tr>
							<tr><th>Оптический привод(ODD)DVD</th></tr>
							<tr><th>Карты памяти</th></tr>
							<tr><th>Скорость вращения</th></tr>
							<tr class="title"><th>Графика</th></tr>
							<tr><th>Графический адаптер</th></tr>
							<tr><th>Рейтинг видеокарты</th></tr>
							<tr><th>Тип графического адаптера</th></tr>
							<tr><th>Дополнительный граф.фдаптер</th></tr>
							<tr><th>Локальная видеопамяти</th></tr>
						</tbody>
					</table>
				</div>
				<div class="compare__carousel">
					<table>
						<tbody>
							<tr class="title">
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
							</tr>
							<tr>
								<td class="item_1 better">2014</td>
								<td class="item_2 better">2014</td>
								<td class="item_3">2012</td>
								<td class="item_4">2012</td>
								<td class="item_5">2013</td>
								<td class="item_6">2013</td>
							</tr>
							<tr>
								<td class="item_1">Ноутбук</td>
								<td class="item_2">Ноутбук</td>
								<td class="item_3">Ноутбук</td>
								<td class="item_4">Ноутбук</td>
								<td class="item_5">Ноутбук</td>
								<td class="item_6">Ноутбук</td>
							</tr>
							<tr>
								<td class="item_1">red, black, white</td>
								<td class="item_2">red, black, white</td>
								<td class="item_3">red, black, white</td>
								<td class="item_4">red, black, white</td>
								<td class="item_5">red, black, white</td>
								<td class="item_6">red, black, white</td>
							</tr>
							<tr>
								<td class="item_1 better">современный</td>
								<td class="item_2">классика</td>
								<td class="item_3">модерн</td>
								<td class="item_4">классика</td>
								<td class="item_5 better">современный</td>
								<td class="item_6 better">современный</td>
							</tr>
							<tr>
								<td class="item_1">-</td>
								<td class="item_2">-</td>
								<td class="item_3">-</td>
								<td class="item_4">-</td>
								<td class="item_5">-</td>
								<td class="item_6">-</td>
							</tr>
							<tr class="title">
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
							</tr>
							<tr>
								<td class="item_1">17`</td>
								<td class="item_2">17`</td>
								<td class="item_3">17`</td>
								<td class="item_4">17`</td>
								<td class="item_5">17`</td>
								<td class="item_6">17`</td>
							</tr>
							<tr>
								<td class="item_1">1920x1080</td>
								<td class="item_2">1920x1080</td>
								<td class="item_3">1920x1080</td>
								<td class="item_4">1920x1080</td>
								<td class="item_5">1920x1080</td>
								<td class="item_6">1920x1080</td>
							</tr>
							<tr>
								<td class="item_1">IPS</td>
								<td class="item_2">IPS</td>
								<td class="item_3">IPS</td>
								<td class="item_4">IPS</td>
								<td class="item_5">IPS</td>
								<td class="item_6">IPS</td>
							</tr>
							<tr>
								<td class="item_1">Матовая</td>
								<td class="item_2">Матовая</td>
								<td class="item_3">Матовая</td>
								<td class="item_4">Матовая</td>
								<td class="item_5">Матовая</td>
								<td class="item_6">Матовая</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>
</section>
