<footer>
	<div class="wrapper">
		<div class="h-info_schedule">
			<span>Работаем без выходных с 9 до 21</span>
		</div>
		<div class="h-info_phones">
			<ul>
				<li class="i-phone i-phone--life"> <i class="icon"></i>+375 (29) <span>66-66-808</span></li>
				<li class="i-phone i-phone--xyz"> <i class="icon"></i>+375 (39) <span>66-66-808</span></li>
				<li class="i-phone i-phone--mts"> <i class="icon"></i>+375 (25) <span>66-66-808</span></li>
				<li class="i-phone i-phone--city"> <i class="icon"></i>+375 (17) <span>26-77-785</span></li>
				<li class="i-phone i-phone--cback"> <i class="icon"></i><a href="#">Заказать звонок</a></li>
				<li class="i-phone i-phone--skype"> <i class="icon"></i><a href="#">imarket.by</a></li>
			</ul>
		</div>
		<div class="separator"></div>
		<div class="f-menu_list">
			<div class="list_container">
				<h3>Электроника и компьютеры</h3>
				<ul>
					<li><a href="#">Ноутбуки и аксессуары</a></li>
					<li><a href="#">Электронные книги</a></li>
					<li><a href="#">Планшеты и аксессуары</a></li>
					<li><a href="#">Мобильные телефоны</a></li>
					<li><a href="#">Мультимедиа акустика</a></li>
					<li><a href="#">Моноблоки</a></li>
					<li><a href="#">Телевизоры</a></li>
					<li><a href="#">Фото</a></li>
					<li><a href="#">Карты памяти</a></li>
					<li><a href="#">Внешние аккумуляторы</a></li>
					<li><a href="#">USB Flash</a></li>
					<li><a href="#">Держатели и док-станции</a></li>
					<li><a href="#">Мультимедта док-станции</a></li>
					<li><a href="#">Внешние Жесткие Диски</a></li>
				</ul>
			</div>
			<div class="list_container">
				<h3>Бытовая техника</h3>
				<ul>
					<li><a href="#">Техника для дома</a></li>
					<li><a href="#">Климатическая техника</a></li>
					<li><a href="#">Техника для красоты</a></li>
				</ul>
			</div>
			<div class="list_container">
				<h3>Техника для кухни</h3>
				<ul>
					<li><a href="#">Приготовление пищи</a></li>
					<li><a href="#">Кухонныке помощники</a></li>
					<li><a href="#">Крупная техника для кухни</a></li>
					<li><a href="#">Кофе, чай, вода</a></li>
					<li><a href="#">Встроенная техника для кухни</a></li>
				</ul>
			</div>
			<div class="list_container">
				<h3>Дом и офис</h3>
				<ul>
					<li><a href="#">Электроинструмент</a></li>
					<li><a href="#">Садовая техника и инструмент</a></li>
					<li><a href="#">Офисные кресла</a></li>
				</ul>
			</div>
			<div class="list_container">
				<h3>Авто</h3>
				<ul>
					<li><a href="#">Шины</a></li>
					<li><a href="#">GPS-навигаторы</a></li>
					<li><a href="#">Автомагнитолы</a></li>
					<li><a href="#">FM-модуляторы</a></li>
					<li><a href="#">Автосигнализации</a></li>
					<li><a href="#">Громкая связь</a></li>
					<li><a href="#">Автомобильные инверторы</a></li>
					<li><a href="#">Парковочные радары</a></li>
					<li><a href="#">Алкотестеры</a></li>
				</ul>
			</div>
		</div>
		<div class="h-info_logo"></div>
		<div class="separator"></div>
	</div>
</footer>
</body>
</html>