<header>
	<div class="wrapper">
		<div class="h-row clearfix">
			<div class="h-row_list fl">
				<ul>
					<li><a href="#">Доставка и оплата</a></li>
					<li><a href="#">Оплата</a></li>
					<li><a href="#">О компании</a></li>
					<li><a href="#">Обмен и возврат</a></li>
				</ul>
			</div>
			<div class="h-row_list h-row_list--rigth fr">
				<ul>
					<li><a href="#">Регистрация</a></li>
					<li><a href="#">Вход</a></li>
					<li><a class="orange" href="#">Минск</a></li>
				</ul>
			</div>
		</div>
		<div class="h-info clearfix">
			<div class="h-info_schedule">
				<span>Работаем без выходных с 9 до 21</span>
			</div>
			<div class="h-info_phones">
				<ul>
					<li class="i-phone i-phone--life"> <i class="icon"></i>+375 (29) <span>66-66-808</span></li>
					<li class="i-phone i-phone--xyz"> <i class="icon"></i>+375 (39) <span>66-66-808</span></li>
					<li class="i-phone i-phone--mts"> <i class="icon"></i>+375 (25) <span>66-66-808</span></li>
					<li class="i-phone i-phone--city"> <i class="icon"></i>+375 (17) <span>26-77-785</span></li>
					<li class="i-phone i-phone--cback"> <i class="icon"></i><a href="#">Заказать звонок</a></li>
					<li class="i-phone i-phone--skype"> <i class="icon"></i><a href="#">imarket.by</a></li>
				</ul>
			</div>
			<div class="h-info_shopcart fr">
				<div class="h-shopcart h-shopcart--tprice">
					<p><a href="#">3 Товара</a><br>
					 На 10 000 583 руб.</p>
				</div>
				<div class="h-shopcart h-shopcart--img"></div>
			</div>
			<div class="h-info_logo">
				<div class="h-logo_text">Магазин электроники и бытовой техники</div>
			</div>
			<div class="h-info_search">
				<form action="/catalog/" id="search_form">
					<input type="text" name="q" value="" size="40" maxlength="50" autocomplete="off" placeholder="Найти" id="search_input" required="">
					<input type="submit" value="">
					<div class="h-search_help">
						Поиск по сайту: например, <a href="#">ASUS K56C</a>
					</div>
					<div class="search_wrapper"></div>
				</form>
			</div>
		</div>
	</div>
		<nav>
			<div class="wrapper">
				<div class="h-navbar clearfix">
					<ul>
						<li><a class="nav-list nav-list--comp" href="#"> <i class="icon"></i> Электроника и <br>компьютеры</a></li>
						<li><a class="nav-list nav-list--tech" href="#"> <i class="icon"></i> Бытовая <br>техника</a></li>
						<li><a class="nav-list nav-list--cook" href="#"> <i class="icon"></i> Техника для <br>кухни</a></li>
						<li><a class="nav-list nav-list--home" href="#"> <i class="icon"></i> Дом и <br>офис</a></li>
						<li><a class="nav-list nav-list--child" href="#"> <i class="icon"></i> Товары для <br>детей</a></li>
						<li><a class="nav-list nav-list--auto" href="#"> <i class="icon"></i>Товары для <br> авто</a></li>
						<li><a class="nav-list nav-list--apple" href="#"> <i class="icon"></i> Зона <br>Apple</a></li>
						<li><a class="nav-list nav-list--adver" href="#">  lenovo</a></li>
					</ul>
				</div>
			</div>
		</nav>
</header>